<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://stravadatacollection20240201160559.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/39ac785a-953c-4c2e-8e54-ff4df84b868b/resourcegroups/StravaDataCollection/providers/Microsoft.Web/sites/StravaDataCollection20240201160559</ResourceId>
    <UserName>$StravaDataCollection20240201160559</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://stravadatacollection20240201160559.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>